.checkout {
    margin-top: 5px;
    font-size: small;
    border-radius: 5px;
    font-weight: 500;
}


.checkout__container {
    max-width: inherit;
}

.checkout__card {
    /* background-color: #f7fafc!important; */
}


.checkout__card__title {
    margin-bottom: 30px;
    font-size: medium;
    font-weight: 700;
}


.checkout__card__body__container {
    max-width: inherit;
}

.checkout__card__body{
    border: 1px solid rgba(0,0,0,.05);
}



.checkout__card__body__heading {
    justify-content: center;
    color: #8898aa!important;
    margin-bottom: 20px;
}



.checkout__payment {
    padding-left: 20px;
    font-size: smaller;
}

.checkout__total__payment {
    color: #f50057;
}

.checkout__button {
    margin-top: 10px;
    font-size: medium;
    font-weight: 600;
}

.checkout__button__confirm  {
    width: inherit;
    height: 35px;
    padding: 5px;
    font-size: medium;
    font-weight: 600;
    background-color: #0b0c10;
}