.footer {
    /* background: linear-gradient(to left, #8942a8, #ba382f); */
    /* background-color: #1B1924 ; */
    background-color:  #10000c;
    color: white;
    padding: 10px;
    font-size: small;
}

.footer__container {
    max-width: 1500px;
}
.footer__row {
    justify-content: center;
}
.footer__left {
    font-weight: 600;
}

.footer__copyright {
    font-size: small;
    font-weight: 800;
    justify-content: center;
    text-align: center;
}

.footer__right__address {
    font-size: small;
}

.footer__right__address__heading {
    font-weight: 600;
}

.footer__left__social__icon{
    margin-bottom: 8px;
}


.footer__right__address > address > a{
    color: #f4f3f4;
}

.MuiSvgIcon-root {
    fill: white;
}