.footer {
    /* background: linear-gradient(to left, #8942a8, #ba382f); */
    /* background-color: #1B1924 ; */
    background-color:  #10000c;
    color: white;
    padding: 10px;
}

.footer__container {
    max-width: inherit;
}
.footer__row {
}
.footer_left {
}

.footer__copyright {
    font-size: small;
    font-weight: 800;
    justify-content: center;
    text-align: center;
}

.footer__right__address {
}

.footer__right__address > address > a{
    color: #f4f3f4;
}

.MuiSvgIcon-root {
    fill: white;
}