.header {
    /* background: linear-gradient(to left, #8942a8, #ba382f); */
    /* background-color: #0b0c10;  */
    background-color:  #10000c;
    font-size: small;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__navbar {
    margin: 0px;
    margin-left: auto;
    padding: 8px 5px;
}


.header__navbar__container {
    max-width: inherit;
    padding: 0px;
}


.header__navbar__container__logo {
    margin-right: 10px;
    margin-left: 5px;
}
.header__navbar__container__logo > img {
    height: 42px;
}
.header__navbar__container__navitem {
    /* margin-left: 5px; */
    color: white !important;
}
.header__navbar__nav__right {
    margin-left: auto !important;
    margin-right: 0px;
}
.header__navbar__container__userprofile {
    margin-right: 5px;
}
.header__navbar__container__cart {
    margin-right: 10px;
}

.header__search{
    margin: 0px 20px 5px 20px;
    padding-bottom: 10px;
}
 .header__search__input {
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    max-height: 35px;
    max-width: 500px;
 }

.header__search__input > div > div {
     font-size: small;
     font-weight: 500;
 }
.header__search__icon {
     width: 50px;
     background-color: #CAC7d7;
     align-items: center;
     justify-content: center;
     border-radius: 0px 5px 5px 0px;
     
 }

.header__divider {
     /* background: inherit; */
    /* background-color:  #1B1924; */
    height: 5px;
    margin: 0px;
}

.header__navbar__nav__search {
    width: inherit;
    margin-right: 20px;
}

.header__navbar__nav__search__item {
    width: inherit;
}

.logout__span:hover {
    cursor: pointer;
}

.header__navbar__container__categories {
    max-width: 80px;
}

.header__categories {
    margin-right: 20px;
}

.header__categories:hover {
    cursor: pointer;
}