.home {
    background-color: #f6d1e6;
    /* background-color: #f2746b; */
    /* background: linear-gradient(to left, #8942a8, #ba382f); */
}

.home__jumbotron {
    padding: 5px;
    background: inherit;
    /* background-color: aliceblue; */
}
.home__jumbotron__container {
    max-width: inherit;
}

.home__jumbotron__container__row {
    justify-content: center;
}

.home__jumbotron__container__row > img {
    max-width: 100%;
    border: 2px solid black;
    border-radius: 5px ;

    /* max-height: 200px; */
    /* object-fit: contain; */
}
.home__container {
    max-width: 1500px;
}

.home__main__products {
    justify-content: center;
}

.home__main__product {
    font-size: smaller;
    font-weight: 500;
    max-width: 250px;
    height: 315px;
    margin: 10px;
    padding: 0px;
}

.home__main__product:hover{
    transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}