.home {
    /* background-color: #f6d1e6; */
    /* background-color: #f2746b; */
    background-color: aliceblue;
    /* background: linear-gradient(to left, #8942a8, #ba382f); */
}

.home__jumbotron {
    padding: 5px;
    background: inherit;
    margin-bottom: 0px;
    /* background-color: aliceblue; */
}
.home__jumbotron__container {
    max-width: 1500px;
}

.home__jumbotron__container__row {
    justify-content: center;
}

.home__carousel {
    max-width: 100%;
    border: 2px solid black;
    border-radius: 5px ;
}

.home__jumbotron__container__row > img {
    max-width: 100%;
    border: 2px solid black;
    border-radius: 5px ;

    /* max-height: 200px; */
    /* object-fit: contain; */
}
.home__container {
    max-width: 1500px;
}

.home__main__category {
    font-weight: 700;
    font-size: larger;
    padding: 20px 0px 10px 20px;
    text-align: center;
    color: #f50057;
    /* border: 1px solid ; */
    /* border-left: 0px; */
    /* border-right: 0px; */
    /* padding-right: 0px; */
    /* width: 100%; */
}

.home__main__category__heading {
    text-transform: uppercase;
}

.home__main__products {
    justify-content: center;
}

.home__main__product {
    font-size: smaller;
    font-weight: 500;
    max-width: 200px;
    margin: 10px;
    padding: 0px;
}

.home__main__product:hover{
    transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.home__pagination {
    justify-content: center;
    margin-top: 10px;
}