.orderinvoice {
   /* background-color: #f2746b; */
}

.orderinvoice__container {
max-width: 1500px;
background-color: #ffffff;
height: 100%;
}

.orderinvoice__heading {
    font-size: large;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 30px;

}

.orderinvoice__row {
    justify-content: center;
    margin: 0px;
    justify-self: center ;
}

.orderinvoice__products {
    margin: 10px 0px 0px 0px;
    /* border-radius: 5px;
    border: 2px solid whitesmoke;
    box-shadow: 2px;
    padding: 10px; */
}

.orderinvoice__products__header {
    justify-content: center;
    font-weight: 600;
    text-align: center;
}

.orderinvoice__no__product {
    justify-content: center;
    align-items: flex-end;
    display: flex;
    height: 20vh;
    margin-bottom: 10px;
}

.orderinvoice__no__product__message {
    font-size: large;
    font-weight: 700;
    justify-content: center;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}

.orderinvoice__no__product__button {
    height: 30px;
    min-width: 200px;
	color: #404040 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: none;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	font-weight: 600;
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    font-size: small;
    margin-bottom: 20px;
}

.orderinvoice__no__product__button:hover{
	color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}