.productDetails {
	/* background-color: #E6E6FA; */
	background-color: #f6d1e6;
	font-size: small;
	/* font-weight: 500; */
}

.productDetails__container {
	max-width: 1500px;
	min-height: 75.5vh;
}

.productDetails__toprow {
	background-color: white;
	margin: 10px 0px 20px 0px;
}

.productDetails__toprow__imagebox {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid whitesmoke;
}

.productDetails__toprow__image {
	max-width: 280px;
	object-fit: contain;
	margin: 10px;
}

.productDetails__toprow__titlebox {
	border: 1px solid whitesmoke;
	padding-left: 30px;
	padding-top: 10px;
}

.productDetails__toprow__titlebox__title {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 19px;
}

.productDetails__toprow__titlebox_pricerow {
	margin-top: 10px;
	margin-bottom: 10px;
}

.productDetails__toprow__titlebox_originalprice {
	text-decoration: line-through;
	font-size: medium;
	color: gray;
}

.productDetails__toprow__titlebox__discount {
	margin-left: 10px;
	font-size: 16px;
	color: red;
}

.productDetails__toprow__titlebox_discountprice {
	font-size: 19px;
	color:#f50057;
}

.productDetails__toprow__titlebox_rating {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: medium;
}

.productDetails__toprow__titlebox__quantityrow {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: medium;
	align-items: center;
}

.productDetails__toprow__titlebox__wishrow {
	margin-top: 10px;
	margin-bottom: 10px;
	align-items: center;

}

.productDetails__toprow__titlebox__buyrow {
	margin-top: 20px;
	margin-bottom: 10px;
}
.productDetails__quantity__group {
	margin-left: 30px;
    width: 100px;
}
.productDetails__quantity__value {
    height: 30px;
    padding: 5px;
    border-right: none;
    border-left: none;
    border: 2px solid;
    border-color: rgba(129,129,129,.2);
    font-size: small;
    text-align: center;
    font-weight: 500;
}

.productDetails__quantity__button {
    height: 30px;
    width: 30px;
    margin: 0px;
    padding: 0px;
    background-color: inherit;
    color: #777;
    border: 2px solid rgba(129,129,129,.2);
    
}

.productDetails__toprow__titlebox__buttoncart {
	margin-right: 30px;
	height: 30px;
	min-width: 40%;
	color: #404040 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: none;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	font-weight: 500;
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	font-size: small;
}

.productDetails__toprow__titlebox__buttoncart:hover {
	color: #404040 !important;
font-weight: 700 !important;
background: none;
box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

.productDetails__toprow__titlebox__buttonbuy {
	min-width: 40%;
	height: 30px;
	color: #404040 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: none;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	font-weight: 500;
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	font-size: small;
}

.productDetails__toprow__titlebox__buttonbuy:hover{
	color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

.productDetails__toprow__titlebox__buttonwish {
	margin-left: 5px;
	height: 30px;
	color: #404040 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: none;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	font-weight: 500;
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	font-size: small;
}

.productDetails__toprow__titlebox__buttonwish:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	/* letter-spacing: 2px; */
	background: none;
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;

}

.productDetails__toprow__titlebox__category {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 14px;
}

.productDetails__less__font {
	color: #777777;
}

.productDetails__description {
	padding: 10px;
}

.productDetails__description__container {
	max-width: inherit;
	margin-top: 20px;
	background-color: white;
	border: #dddddd solid 1px;
	padding-bottom: 20px;
}

.productDetails__bottomRows {
}

.productDetails__bottomRows__container {
	max-width: inherit;
	background-color: white;
	margin-bottom: 20px;
	padding: 20px;
	border: #dddddd solid 1px;
}

.productDetails__QA__container__header {
}

.productDetails__review {
	padding: 10px;
}

.productDetails__review__container {
	max-width: inherit;
	margin-top: 20px;
	background-color: white;
	border: #dddddd solid 1px;
}

.productDetails__description {
}

.productDetails__description {
}

.productDetails__description {
}
