.profile__container {
    max-width: 1500px;
    height: 100%;
}

.profile__label {
    font-size: small;
    font-weight: 500;
}

.profile__tabpanel {
   width: -webkit-fill-available;
   width: -moz-available
}