.search {
    background-color: aliceblue;
}

.search__container {
    max-width: inherit;
}

.search__main__products {
    justify-content: center;
}

.search__main__product {
    font-size: smaller;
    font-weight: 500;
    max-width: 250px;
    height: 315px;
    margin: 10px;
    padding: 0px;
}

.search__main__product:hover{
    transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}